<h1>Bienvenido {{first_name}}!</h1>
<h2>Datos de tu perfil</h2>

<section id="perfil">
    <div>
        <ul>
            <li>Nombre completo: {{first_name}} {{last_name}}</li>
            <li>ID:{{_id}}</li>
            <li>{{email}}</li>
            <li>Edad:{{age}}</li>
        </ul>
    </div>

    <a href="/api/products">
        <h3>Volver al listado de productos</h3>
    </a>
</section>